/* px vs rem
A typical method is to set the HTML font-size to 62.5%.
That’s because 62.5% of 16px (typical default browser font-size) is 10px.
That would still make 1.6rem = 16px. 
*/

:root {
  --black-dark: #222;
  --blue-light: #2c70ff;
  --blue-dark: #122ab2;
  --grey: #7c7c7c;
}

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  color: var(--font-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* GERAL */

.container-center {
  max-width: 60rem;
  margin: 0 auto;
}

/* SUPERINFO */

.superinfo-container {
  background: var(--blue-dark);
}

.superinfo {
  color: white;
  padding-top: 0.625rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.superinfo a {
  color: white;
}

.superinfo p,
.superinfo a {
  margin: 0 0.625rem 0.625rem 0.625rem;
}

/* MENU */

.menu-container {
  background: var(--blue-light);
  color: white;
}

.menu {
  padding: 0.937rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: white;
}

.logo {
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0 0.625rem;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 1.25rem;
  display: block;
  padding: 0.625rem;
  transition: 0.3s;
}

.menu-nav a:hover {
  color: var(--blue-dark);
}

/* INTRODUÇÃO */

.intro {
  font-size: 3rem;
  line-height: 1;
  padding: 3.75rem 0.625rem;
}

/* SOBRE */

.sobre {
  border-top: 0.125rem solid var(--blue-light);
  padding: 3.75rem 0;
  display: flex;
  flex-wrap: wrap;
}

.sobre-info {
  flex: 2 1 18.75rem; /* grow shrink basis */
  margin: 0 0.625rem;
}

.sobre-info h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.sobre-info p {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  color: var(--grey);
}

.sobre-img {
  flex: 1 1 10rem;
  margin: 0 0.625rem;
}
