/* px vs rem
A typical method is to set the HTML font-size to 62.5%.
That’s because 62.5% of 16px (typical default browser font-size) is 10px.
That would still make 1.6rem = 16px. 
*/

:root {
  --black-light: #222;
  --blue-dark: #122ab2;
  --blue-light: #2c70ff;
  --blue-lighter: #66d9eb;
  --gray: #7c7c7c;
  --gray-light: #a4a4a4;
  --gray-lighter: #f7f7f7;
  --purple: #ae81ff;
  --pink: #f9265e;
}

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  color: var(--black-light);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* GERAL */

.container-center {
  max-width: 60rem;
  margin: 0 auto;
}

/* SUPERINFO */

.superinfo-container {
  background: var(--blue-dark);
}

.superinfo {
  color: white;
  padding-top: 0.625rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.superinfo a {
  color: white;
}

.superinfo p,
.superinfo a {
  margin: 0 0.625rem 0.625rem 0.625rem;
}

/* MENU */

.menu-container {
  background: var(--blue-light);
  color: white;
}

.menu {
  padding: 0.937rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: white;
}

.logo {
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0 0.625rem;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 1.25rem;
  display: block;
  padding: 0.625rem;
  transition: 0.3s;
}

.menu-nav a:hover {
  color: var(--blue-dark);
}

/* INTRODUÇÃO */

.intro {
  font-size: 3rem;
  line-height: 1;
  padding: 3.75rem 0.625rem;
}

/* SOBRE */

.sobre {
  border-top: 0.125rem solid var(--blue-light);
  padding: 3.75rem 0;
  display: flex;
  flex-wrap: wrap;
}

.sobre-info {
  flex: 2 1 18.75rem; /* grow shrink basis */
  margin: 0 0.625rem;
}

.sobre-info h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.sobre-info p {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  color: var(--gray);
}

.sobre-img {
  flex: 1 1 10rem;
  margin: 0 0.625rem;
}

/* PRODUTOS */

.produtos {
  border-top: 0.125rem solid var(--blue-light);
  padding: 3.75rem 0;
}

.produtos h1 {
  font-size: 3rem;
  margin: 0 0.625rem 3.75rem;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.produtos-item {
  flex: 1 1 10.937rem;
  margin: 0.625rem;
}

.produtos-item h2 {
  font-size: 3rem;
  color: var(--gray-light);
  background: var(--gray-lighter);
  padding: 3.75rem 1.25rem;
}

.purple {
  border-top: 0.5rem solid var(--purple);
}
.pink {
  border-top: 0.5rem solid var(--pink);
}
.blue {
  border-top: 0.5rem solid var(--blue-lighter);
}

/* PREÇOS */

.preco {
  background: var(--gray-lighter);
  padding: 3.75rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.preco-item {
  flex: 1 1 16.25rem;
  border: 0.25rem solid white;
  padding: 1.25rem;
  margin: 0.625rem;
}

.preco-item h2 {
  font-size: 3rem;
  color: var(--gray-light);
  text-align: center;
  margin-top: 1.25rem;
}

.preco-item span {
  /* max-width: 18.75rem; */
  margin: 1.25rem auto;
  display: block;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  padding: 0.625rem 0 0.312rem;
  border-top: 0.25rem solid white;
  border-bottom: 0.25rem solid white;
}

.preco-item sup {
  font-size: 1.5rem;
}

.preco-item ul {
  max-width: 18.75rem;
  margin: 1.25rem auto;
  font-size: 1.25rem;
  line-height: 1;
  font-style: italic;
}

.preco-item li {
  margin-bottom: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preco-item li::after {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  background: var(--blue-light);
  border-radius: 50%;
}

.preco-item a {
  max-width: 18.75rem;
  display: block;
  margin: 1.25rem auto;
  border: 0.25rem solid;
  color: var(--black-light);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.25rem;
  padding: 1rem 0;
  text-align: center;
}

@media (max-width: 50em) {
  .preco {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .preco .preco-item:nth-child(3) {
    order: -2;
  }

  .preco .preco-item:nth-child(2) {
    order: -1;
  }
}

/* QUALIDADE */

.qualidade {
  display: flex;
  flex-wrap: wrap;
}

.qualidade-item {
  flex: 1 1 18.75rem;
  margin: 1.25rem 0.625rem;
}

.qualidade-item h2 {
  font-size: 2.25rem;
  color: var(--gray);
  margin-bottom: 1.25rem;
}

.qualidade-item h2::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 1.875rem;
  margin-right: 0.625rem;
}

.qualidade-item:nth-of-type(3n + 1) h2::before {
  background: var(--purple);
}

.qualidade-item:nth-of-type(3n + 2) h2::before {
  background: var(--pink);
}

.qualidade-item:nth-of-type(3n + 3) h2::before {
  background: var(--blue-lighter);
}

.qualidade-item p {
  font-size: 1.5rem;
  line-height: 1.4;
  color: var(--gray);
}
