:root {
  --black-dark: #222;
  --blue-light: #2c70ff;
  --blue-dark: #122ab2;
}

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  color: var(--font-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* Superinfo */
.superinfo-container {
  background: var(--blue-dark);
}

.superinfo {
  max-width: 960px;
  margin: 0 auto;
  color: white;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.superinfo a {
  color: white;
}

.superinfo p,
.superinfo a {
  margin: 0 10px 10px 10px;
}

/* Menu */
.menu-container * {
  /* border: 1px solid; */
}

.menu-container {
  background: var(--blue-light);
  color: white;
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: white;
}

.logo {
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 1.25rem;
  display: block;
  padding: 10px;
  transition: 0.3s;
}

.menu-nav a:hover {
  color: var(--blue-dark);
}
